@model IEnumerable<VIVLIO.MESSAGE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            <p class="messageContent">@Html.DisplayFor(modelItem => item.Subject)<br /></p>
            <p class="senderName">De: @Html.ActionLink(item.Users.Prenom + " " +item.Users.Name, "Details", "Users", new { id = item.Users.UserID }, null)</p>        
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.MESSAGEID })
        </td>
    </tr>
}
</table>
