@{
    ViewBag.Title = "Contact";
}
<style type="text/css">
    #sect1
    {
        float: left;
    width: 33%;
   
    
    }
     #sect3
    {
         float: left;
    width: 33%;
    
   
    }
    #sect2 
    {
        float: left;
    width: 34%;
    height:300px;
   
    }
    #imgpro{ display: block;
         height:285px;
         width:248px

    }


</style>
    <h2>Qui sommes-nous?</h2>
<div>
    <div id="sect1">
        <img id="imgpro"  src="~/Content/Images/dave.png" alt="David Iannuzzi" />
        <h3>David Iannuzzi</h3>
        <p>Titre(s): Bodyguard en chef</p>
        <p>À propos de moi:Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan laoreet nunc venenatis blandit. Praesent elementum auctor elit laoreet ullamcorper. Phasellus rhoncus eu felis maximus vulputate. Proin porttitor, arcu ac convallis malesuada, ex velit elementum ex, et condimentum metus nulla id libero. In nisl nibh, ornare non auctor sed, scelerisque et neque. Fusce molestie justo vitae massa fringilla dignissim. Praesent nec iaculis magna. Donec vel enim eros.</p>
        <p>Adresse Courriel: iannuzzid@hotmail.ca</p>

    </div>
    <div id="sect2">
        <img id="imgpro" src="~/Content/Images/pat.png" alt="Patrick Dufour" />
        <h3>Patrick Dufour</h3>
        <p>Titre(s): Chef de projet</p>
        <p>À propos de moi:Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan laoreet nunc venenatis blandit. Praesent elementum auctor elit laoreet ullamcorper. Phasellus rhoncus eu felis maximus vulputate. Proin porttitor, arcu ac convallis malesuada, ex velit elementum ex, et condimentum metus nulla id libero. In nisl nibh, ornare non auctor sed, scelerisque et neque. Fusce molestie justo vitae massa fringilla dignissim. Praesent nec iaculis magna. Donec vel enim eros.</p>
        <p>Adresse Courriel: patrick.dufour45@gmail.com</p>
    </div>
    <div id="sect3">
        <img id="imgpro" src="~/Content/Images/antoine.jpg" alt="Antoine Pineault" />
        <h3>Antoine Pineault</h3>
        <p>Titre(s): ... </p>
        <p>À propos de moi:Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan laoreet nunc venenatis blandit. Praesent elementum auctor elit laoreet ullamcorper. Phasellus rhoncus eu felis maximus vulputate. Proin porttitor, arcu ac convallis malesuada, ex velit elementum ex, et condimentum metus nulla id libero. In nisl nibh, ornare non auctor sed, scelerisque et neque. Fusce molestie justo vitae massa fringilla dignissim. Praesent nec iaculis magna. Donec vel enim eros.</p>
        <p>Adresse Courriel: antoine.pineault95@gmail.com</p>
    </div>
    <br style="clear:left" />




</div>



