@{
    ViewBag.Title = "Contact";
}
<style type="text/css">
    #sect1
    {
        float: left;
    width: 33%;
   
    
    }
     #sect3
    {
         float: left;
    width: 33%;
    
   
    }
    #sect2 
    {
        float: left;
    width: 34%;
    height:300px;
   
    }
    


</style>
    <h2>Qui sommes-nous?</h2>
<div>
    <div id="sect1">
        <img style="height:285px;width:248px" src="~/Content/Images/Contact/dave.png" alt="David Iannuzzi" />
        <h3>David Iannuzzi</h3>
        <p>Bio: Programmeur Analyste</p>
        <p>Adresse Courriel: iannuzzid@hotmail.ca</p>

    </div>
    <div id="sect2">
        <img style="height:285px;width:248px" src="~/Content/Images/Contact/pat.png" alt="Patrick Dufour" />
        <h3>Patrick Dufour</h3>
        <p>Bio: Design Web/ Responsable GitHub </p>
        <p>Adresse Courriel: patrick.dufour45@gmail.com</p>
    </div>
    <div id="sect3">
        <img style="height:285px;width:248px" src="~/Content/Images/Contact/antoine.jpg" alt="Antoine Pineault" />
        <h3>Antoine Pineault</h3>
        <p>Bio: Administrateur de base de donnée/ Programmeur  </p>
        <p>Adresse Courriel: antoine.pineault95@gmail.com</p>
    </div>
    <br style="clear:left" />




</div>



