@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }

        .rslides li {
            -webkit-backface-visibility: hidden;
            position: absolute;
            display: none;
            width: 100%;
            left: 0;
            top: 0;
        }

            .rslides li:first-child {
                position: relative;
                display: block;
                float: left;
            }

        .rslides img {
            display: block;
            height: auto;
            float: left;
            width: 100%;
            border: 0;
        }
</style>

<ul class="rslides">
    <li><img src="~/Content/Images/Slides/stockvault-alone184780.jpg" alt=""></li>
    <li><img src="~/Content/Images/Slides/stockvault-library189884.jpg" alt=""></li>
</ul>

<div class="jumbotron">
    <h1>Bienvenue sur VIVLIO</h1>
    <p class="lead">Ce site permet l'achat et la vente de fourniture scolaire  entre tous ses utilisateurs. Venez en faire l'essai!!!<br />
    (Ce site est encore en construction)
    </p>
    <p>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="~/Scripts/responsiveslides.min.js"></script>
<script>
  $(function() {
      $(".rslides").responsiveSlides({
          auto: true,             // Boolean: Animate automatically, true or false
          speed: 500,            // Integer: Speed of the transition, in milliseconds
          timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
          pager: false,           // Boolean: Show pager, true or false
          nav: false,             // Boolean: Show navigation, true or false
          random: false,          // Boolean: Randomize the order of the slides, true or false
          pause: false,           // Boolean: Pause on hover, true or false
          pauseControls: true,    // Boolean: Pause when hovering controls, true or false
          prevText: "Previous",   // String: Text for the "previous" button
          nextText: "Next",       // String: Text for the "next" button
          maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
          navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
          manualControls: "",     // Selector: Declare custom pager navigation
          namespace: "rslides",   // String: Change the default namespace used
          before: function () { },   // Function: Before callback
          after: function () { }     // Function: After callback
      });
  });
</script>

